<%- include("../partials/header.ejs") %>

<div class="main">
    <div class="update-form">
        <form action="/change" method="post">
                <!-- <div class="local"> -->
                    <h2>Change Password</h2>
                    <input type="email" name="username" placeholder="Email*" required>
                    <input type="password" name="newpassword" placeholder="New password*" required>
                    <p style="color: red; font-size: 1.5rem; margin: auto;"><%= message %></p>
                    <button type="submit">Change</button>
                <!-- </div> -->
            </form>
    </div>
</div>

<%- include("../partials/footer.ejs") %>