<%- include("../partials/header.ejs") %> 


<div class="main">
        <div class="update-form">
            <form action="/login" method="post">
                    <h2>Sign In</h2>
                    <input type="email" name="email" placeholder="Email*">
                    <input type="password" name="password" placeholder="Password*">
                    <p class="flash" style="color: red; text-align: center; height: 5px;"><%= message %></p>
                    <button class="btn" type="submit">Log In</button>
                    <!-- <a href="/resetpassword">forget password?</a> -->
            </form>
        </div>
</div>


<%- include("../partials/footer.ejs") %>