<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Trirong">
    <link rel="stylesheet" href="/css/style.css">

</head>
<body>
    <div class="header">
        <form action="/" method="get" class="form-btn">
            <button class="btn" style="color: white;">Home</button>
        </form>
        <div class="main-logo">
            <h1>MY</h1>
            <h1>DSA</h1>
        </div>
    </div>