<%- include("partials/header.ejs") %> 

<div class="main">
    <div class="update-form">
        <form action="/addnewtopic" method="post">
                <input type="text" name="topicname" placeholder="Enter new topic name">
                <button type="submit">Add</button>
        </form>
    </div>
</div>

<%- include("partials/footer.ejs") %>